.container {
    width: 100%;
    background-color: rgb(213, 183, 143);
}
.box1{
    width: 50px;
    background-color: rgb(168, 135, 198);
}
.box2{
    width: 50px;
    background-color: rgb(117, 183, 130);
}
.box3{
    width: 50px;
    background-color: rgb(161, 150, 85);
}
.box4{
    width: 50px;
    background-color: rgb(181, 126, 147);
}